html,
body {
	height: 100%;
}

body {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imwasted {
	background: rgb(255, 255, 255);
	/* background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%); */
}

.modal {
	display: block;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .7);
}

.show {
	pointer-events: all;
}

/* .win {
	border-color: var(--blue);
}

.loss {
	border-color: var(--red);
} */