html,
body {
	height: 100%;
}

body {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	min-height: 536px;
	min-width: 960px;
}

.modal {
	display: block;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .7);
}

.show {
	pointer-events: all;
}